body {
    background-color: white;
}

a {
    text-decoration: none
}



#navbar {

    width: 90%;
    margin-left: 5%;
    display: inline-flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
}



#safeplace-little-div {

    display: flex; 
    justify-content: center;
    align-items: center;
    margin-right: 12vw;
}

#navbar-icon {
    width: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
}


#safeplace-little-div p{

    font-size: 24px; 
    color: black;
}

#site-navigation {
    width: 608px; 
    height: 24px; 
    display: flex; 
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;

}

#site-navigation a {
    font-size: 16px; 
    font-weight: 700; 
    line-height: 150%; 
    color: gray;
    text-decoration: none;
    font-family: Roboto;
}

#site-navigation a:hover {
    color: rgba(33, 104, 105, 1);
} 

#safety-exit-div {

    background-color: rgba(33, 104, 105, 1); 
    border-radius: 8px; 
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 2px 4px #dad8d8;
}

#safety-exit-div p {
    font-size: 14px; 
    font-weight: 700; 

    color: white;
    margin: .7em 1em;
    font-family: Roboto;
}

#sign-in-div {

    border-radius: 8px; 
    border-style: solid; 
    border-width: 1px; 
    border-style: solid; 
    border-color: black; 
    display: flex;
    align-items: center; 
    justify-content: center;
    
}

#sign-in-div p {
    font-size: 14px; 
    font-weight: 500; 
    line-height: 150%; 
    color: black;
    margin: .5em 1em;
}

#index-heading {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url('/css/heart_hands2.png');
    background-repeat: repeat;
    background-position: center;
    background-size:contain;

}

#index-heading h1 {

    font-size: 64px; 
    font-weight: 500; 
    color: black;
    margin-top: 12vh;
    margin-bottom: 0vh;
    font-family: 'Architects Daughter';
}

#index-heading h2 {
    font-size: 18px; 
    font-weight: 700; 
    color: rgba(51, 51, 51, 1); 
    margin-bottom: 10vh;
    font-family: 'Raleway';
}

#what-to-do-index {
    width: 100%;
}

.what-do {
    /* position: absolute; */
    width: 373.01px;
    height: 370.55px;
    left: 101.49px;
    top: 648.99px;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.what-do-button {
    background: #361D2E;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    border-radius: 51px;
    color: white;
    /* position: absolute; */
    width: 186.78px;
    height: 51.65px;
    /* left: 194.61px;
    top: 929.6px; */
}

.what-do-img {
    /* position: absolute; */
    width: 316.28px;
    height: 184.15px;
    left: 444.35px;
    top: 576.75px;
    border: 1px solid #9E9E9E;
    box-sizing: border-box;
    filter: drop-shadow(1px 23px 36px rgba(0, 0, 0, 0.24));
    border-radius: 27px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
}

h3 {
    /* position: absolute; */
/* width: 178.84px;
height: 38.74px; */
/* left: 196.79px;
top: 795.4px; */

font-family: Raleway;
font-weight: 500;
font-size: 48px;
/* line-height: 36px; */
font-feature-settings: 'pnum' on, 'lnum' on;
margin: 0;
}

#articles-div {
    background-color: #faf5ec;
}

#resources-div {
    background-color: #ccd7d8;

}

#pro-support-div {
    background-color: #D1C8EB;
}


.horizontal-spacer {
    height: 100px;
    width: 100%;
    background-color: rgb(235, 221, 221);
    
}



/* Resources Page */

#resources-header-img {
    background-image: url('/css/happy_people.png');
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
}

#resources-background {
    background-color: #FFFBF3;
    width: 100%;
    height: 1100px;
}

#resources-page-container {
    background-color: white;
    width: 70vw;
    height: 1000px;
    margin-left: 15vw;
    box-shadow: 0px 0px 35px rgba(0, 0, 0, 0.3), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    position: absolute;
    top: 350px;
}

.page-heading-h2 {
    font-size: 50px; 
    font-weight: 500; 
    color: rgba(51, 51, 51, 1); 
    /* margin-bottom: 10vh; */
    font-family: 'Raleway';
    text-align: center;
    margin-bottom: 0;
}

hr {
    color: gray;
    background-color: gray;
    width: 15em;
    margin-top: 0;
    margin-bottom: 2em;
}

.page-heading-h3 {
    font-size: 20px; 
    font-weight: 500; 
    color: rgba(51, 51, 51, 1); 
    /* margin-bottom: 10vh; */
    font-family: 'Raleway';
    text-align: center;
}

#resources-h4 {
    font-family: 'Raleway';
    text-align: center;
    margin-top: 3em;
}

ul {
    list-style-type: none;
    text-align: left;
    margin: 0;
    padding: 0;
}

#resource-list {
    margin-left: 8vw;
    margin-top: 3em;
}


.org-name {
    font-family: 'Raleway';
    font-weight: bold
    
}

.resource-link {
    color: #095256;
    font-family: 'Raleway';
    font-weight: normal;
    margin: .5em 0;
}

.org-phone {
    margin-top: .4em;
    margin-bottom: .4em;
}

.org-website {
    margin-bottom: 2em;
}


/* Footer */

footer {
    background-color: #1E2833;
    width: 100%;
    font-family: 'Raleway';
    color: white;
}

footer a{
    color: white;
    font-family: 'Raleway';
    font-size: .8em;
}

#footer-box-2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 8vh;
}

#safeplace-icon-container {
    display: flex;
    color: white;
    font-family: 'Raleway';
    font-size: 2em;
    margin-left: 10vw;
    margin-right: .3em;
    align-items: flex-start;
    /* margin-top: 8vh; */
}

#footer-icon {
    width: 40px;
    padding-right: .4em;
}

#footer-safeplace-text {
    margin: 0;
}

#footer-table td{
    padding: .6em 4vw;
}

#footer-table {
    margin-right: 10vw;

}

#footer-table th {
    font-weight: normal;
    color: #FFDD99;
    text-align: left;
    padding: .6em 4vw;
}

#bottom-row-footer {
    margin-left: 10vw;
    padding-top: 5vh;
    padding-bottom: 5vh;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

#footer-box-1 {
    width: 20vw;
    display: flex;
    justify-content: space-between;
}

#socials-box {
    width: 100px;
    display: flex;
    justify-content: space-between;
    margin-right: 4vw;
}